body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #023047;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    box-shadow: #197278 0px 10px 30px -10px;
  background: linear-gradient(115deg, #d4e09b 20%, white 50%, #cbdfbd 60%);
    
}

.card:hover {
    color: #15616d;
}
